* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-start;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Add this */
}

.social,
.logo,
.subscribe {
    border: 1px solid #5995DA;
}

.separator
{
    color: black;
    background-color: #4dd2ff;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.footer-container
{
    color: #D6E9FE;
    background-color: #5995DA;
    display: flex;
    justify-content: center;
}

.footer
{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;  /* Add this */
}

.footer-left
{
    padding:10px;
    border: 5px solid #4dd2ff;

}

.footer-middle
{
    padding:10px;
    border: 5px solid #4dd2ff;

}

.footer-right
{
    padding:10px;
    border: 5px solid #4dd2ff;
}