* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}



body
{
    background-image: url("../images/main-page-background.jpg");
    background-repeat: repeat;
    background-size: cover;

}

.main-page
{
    background-image: url("../images/dota2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

img
{
    width: 100%;
}

table, th, td
{
    border: 1px solid black;
}

table
{


    /*width: 100%;*/
    border-spacing: 5px;
    /*margin-left: 17px;*/
    padding-left: 10px;
    /* How to keep this centered?? It minimizes well, but doesn't initiallly display in the middle. */
    position: sticky;
    width: 100%;

}

#match-results
{
    width: 100%;
}

.individual-bottom-margin
{
    margin-bottom: 50px;
}

table#individual-stats
{
    left: 0;
}

table#individual-stats th
{
    text-align: center;
    border: 1px solid grey;
    justify-content: center;
}

table#individual-stats th, table#individual-stats td
{
    padding: 5px;
}

table#individual-stats tr:nth-child(even)
{
    background-color: #303030;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    /*border-right: 2px solid lightgray;*/
    /*border-left: 2px solid lightgray;*/

}
table#individual-stats tr:nth-child(odd)
{
    background-color: #202020;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    /*border-right: 2px solid lightgray;*/
    /*border-left: 2px solid lightgray;*/
}
table#individual-stats th
{
    color: white;
    background-color: black;
}

table#individual-stats tr:nth-last-child(1)
{
    background-color: #202020;
    border-bottom: 2px solid grey;
}

.radiant-image-cell
{
    /*padding-right: -150px;*/
    /*align: right;*/
    text-align: right;
}

.dire-image-cell
{
    margin-right: -100px;
}

.radiant-image
{
    width: 30%;
}

.dire-image
{
    width: 30%;
}

.center-container
{
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;

    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    justify-content: center;
}

/*.top-header*/
/*{*/
/*    background-image: url("../images/top_logo_signature.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*    padding: 100px;*/
/*    !*text-align: center;*!*/
/*}*/

/*.main-page-saying img*/
/*{*/
/*    !*display: flex;*!*/
/*    !*flex-wrap: wrap;*!*/
/*    background-image: url("../images/dota2.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*    background-position: center center;*/

/*}*/

.center-text
{
    text-align: center;
}

.top-logo
{
    /*background-size: 100% 100%;*/
    /*width: 20%;*/
    /*height: 20%;*/
}


.navbar-light .navbar-nav .nav-link
{
    color: #E0E0E0;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light
{
    background-color: #7E8184 !important;

    /*border-radius: 25px;*/
    /*border-style: inset;*/
    /*opacity: 0.25;*/
    /*filter: alpha(opacity=50); !* For IE8 and earlier *!*/
}

.navbar-nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.nav-item
{
    /*flex: initial;*/
    /*max-width: 100%;*/


}

.left-header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 300px;
    margin-left: 100px;
}

.menu-logo
{
    opacity: 1;
    top: 0;
    left: 520px;
    width: 20%;
    position: absolute;
    padding: 0 0 0 0;
    margin-top: -17px;
}

.right-header
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 300px;
    margin-right: 100px;
}

.nav-img
{

    /*flex: 1;*/
    width: 10%;
}


.navbar
{
    padding: 0.3rem .1rem;
}


.navbar-brand
{
    margin-right: 0rem;

    padding-top: 0px;
    padding-bottom: 0px;
    /*padding-left: 2rem;*/
    align-content: center;
    /*border-right-width: 300px;*/
    border-right: solid black;
    width: 70px;
    height: 45px;
    /*padding: .5rem 1rem*/

}


#menu-logo
{
    display: flex;
    align-content: initial;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 0px;
    width: 45px;
}

#sign-up-link
{
    /*float: right;*/
    /*display: flex;*/
    /*align-content: end;*/
    color: #B2D6FF;
}

#sign-up-link:hover
{
    color: #111111;
}


.main-page-saying
{
    /*opacity: .20;*/
    text-align: center;
    background-color: #111111;
    font-family: Helvetica, sans-serif;
}

.dota-image
{
    /*filter: (opacity=100); !* For IE8 and earlier *!*/
    /*mix-blend-mode: multiply;*/
    /*background-color: rgba(255, 255, 255, 1.0);*/
    /*filter: gray(1000);*/
    opacity:.7;
}

.test-space
{
    width: 1000px;
}

/* -----Footer----- */
.page-footer
{
    background-color: #7E8184;
}

.pt-4, .py-4
{
    padding-top: 0rem !important;
    /*align-content: center;*/
}

.pb-3, .py-3
{
    padding-top: 0rem !important;
    padding-bottom: 0.3rem !important;
}

dl, ol, ul
{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.list-inline-item
{
    width: 4%;
}

.list-inline-item:not(:last-child)
{
    margin-right: 40px;
}

.fa-linkedin-in
{
    margin-left: 30px;
}

.fa-dribbble
{
    margin-left: 30px;
}


.left-social-footer
{
    float: left;
    position: absolute;
    left: 180px;
    bottom: 5px;
    text-align: center;
    width: 20%;
    margin-left: -200px;
}

.footer-copyright
{
    font-size: 1.0em;
}

.copy-right-link
{
    color: #E0E0E0;
}

a:link
{
    text-decoration: none;

}

a:hover
{
    color: black;
}

@media (min-width: 2400px)
{
    .menu-logo
    {
        margin-left: 400px;
        margin-right: -300px;
        width: 12%;

    }
}

@media (min-width: 2300px)
{
    .menu-logo
    {
        margin-left: 300px;
        width: 16%;

    }
}

@media (min-width: 2000px)
{
    .menu-logo
    {
        left: 930px;
        margin-left: 250px;
        width: 18%;

    }
}

@media (min-width: 1700px)
{
    .menu-logo
    {
        left: 800px
    }
}

@media (min-width: 1600px)
{
    .menu-logo
    {
        left: 650px
    }
}


@media (max-width: 1340px)
{
    .menu-logo
    {
        left: 500px;
    }

    table
    {
        position: fixed;
    }

    .individual-bottom-margin
    {
        width: 80%;
    }
}

@media (max-width: 1300px)
{
    .menu-logo
    {
        left: 490px;
    }
}

@media (max-width: 1270px)
{
    .menu-logo
    {
        left: 480px;
    }
}

@media (max-width: 1240px)
{
    .menu-logo
    {
        left: 470px;
    }

    table
    {
        /*width: 60%;*/
        /*!*width: 100%;*!*/
        /*border-spacing: 1px;*/
        /*!*margin-left: 17px;*!*/
        /*padding-left: 2px;*/
    }
}

@media (max-width: 1222px)
{
    .menu-logo
    {
        width: 21%;
    }

    table#individual-stats td
    {
        word-break: break-all;
    }

    /*table*/
    /*{*/
    /*    position: relative;*/
    /*}*/
}

@media (max-width: 1210px)
{
    .menu-logo
    {
        left: 460px;
    }
}

@media (max-width: 1200px)
{
    .menu-logo
    {
        left: 445px;
        width: 22%;
    }
}

@media (max-width: 1160px)
{
    .menu-logo
    {
        margin-left: -15px;
        /*width: 22%;*/
    }
}

@media (max-width: 1140px)
{
    .menu-logo
    {
        margin-left: -30px;
    }
}

@media (max-width: 1115px)
{
    .menu-logo
    {
        margin-left: -45px;
        width: 23%;
    }
}

@media (max-width: 1105px)
{
    .menu-logo
    {
        opacity: 0;
    }
}

@media (max-width: 1080px)
{
    table#individual-stats td
    {

        word-wrap: break-word;
    }

    /*table*/
    /*{*/
    /*    position: fixed;*/
    /*}*/
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link .navbar-brand #menu-logo
    {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media (max-width: 991px)
{

    .left-social-footer
    {
        font-size: 0.9em;
    }

    .navbar-nav
    {
        /*display: flex;*/
        flex-flow: row;
        left: 0;
        /*align-items: center;*/
        /*justify-content: space-between;*/
        /*width: 100%;*/
        /*position: relative;*/
    }
    .left-header
    {
        /*display: flex;*/
        /*flex-flow: row nowrap;*/
        /*justify-content: space-between;*/
        width: 250px;
        margin-left: 20px;
    }
    .right-header
    {
        /*display: flex;*/
        /*flex-flow: row nowrap;*/
        /*justify-content: space-between;*/
        width: 250px;
        margin-left: 100px;
    }

    .menu-logo
    {
        /*opacity: 1;*/
        /*width: 38%;*/
        /*left: 350px;*/
        /*margin-top: -55px;*/
    }
}

@media (max-width: 929px)
{
    .left-social-footer
    {
        font-size: 0.8em;
    }
    .menu-logo
    {
        opacity: 0;
    }
}

@media (max-width: 866px)
{
    .left-social-footer
    {
        font-size: 0.7em;
    }
}

@media (max-width: 803px)
{
    .left-social-footer
    {
        font-size: 0.6em;
    }
}

@media (max-width: 740px)
{
    .left-social-footer
    {
        font-size: 0.5em;
        bottom: 10px;
        right: 100px;
    }
}

@media (max-width: 670px)
{
    .left-social-footer
    {
        margin-left: -180px;
    }

    #sign-up-link
    {
        margin-right: 20px;
    }
}

@media (max-width: 625px)
{

    #sign-up-link
    {
        margin-right: 40px;
    }
}

@media (max-width: 600px)
{

    #sign-up-link
    {
        margin-right: 60px;
    }
    .team-link
    {
        margin-left: -110px;
    }
}

@media (max-width: 590px)
{

    #sign-up-link
    {
        margin-left: -30px;
    }

    .right-header
    {
        margin-left: 10px;
    }
    /*.team-link*/
    /*{*/
    /*    margin-left: -130px;*/
    /*}*/
}