* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body
{
    background-image: image("../images/sky.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*color: red;*/
}